<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/animate.css">
  </head>
  <body>
    <div class="jumbotron animated fadeIn">
      <h1 class="display-4 animated lightSpeedIn">Order Placed :)</h1>
      <p class="lead">Thank's for shopping with us.</p>
      <hr class="my-4">
      <p>Check your email for order details.</p>
      <a class="btn btn-primary btn-lg animated swing" style="animation-delay: 2s" href="/" role="button">Buy More Books.</a>
    </div>
  </body>
</html>
