<%- include("partials/header.ejs") %>

<img class="hvr-grow animated fadeIn" style="height:100px; width:100px; margin-left:690px; margin-top:100px; border-radius:100%" src="images/logo.jpg" alt="">

<a href="/login"><button type="button" class="btn btn-outline-dark btn-lg animated fadeIn" style="margin-left: 630px; margin-top: 100px; font-weight:bold">Log in</button></a>

<a href="/register"><button type="button" class="btn btn-outline-dark btn-lg animated fadeIn" style="margin-top:100px; font-weight:bold; margin-left:30px">Register</button></a>





<%- include("partials/footer.ejs") %>
